body{
    background-color: black;
    color: white;
}
span{
    font-size: 30px;
}
#camera, #result{
    border: 2px double white;
    width: 350px;
    height:300px;
}
.emoji
{
 font-size: 48px;   
}
.heading
{
    font-size: 18px;
    letter-spacing: 10px;
}
label
{
font-size: 14px;
padding: 6px;
border-radius: 10px;
background-color: gray;
}